In [1]:
1 !python --version

SyntaxError: ignored

In [ ]:
umme ammarah
20221BCA0316
3BCA5

In [7]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

In [2]:
a=[3,6,8,10,1,2,1]
print(len(a))

7

In [4]:
x = 3
print(x,type(x))

3 <class 'int'>

In [5]:
s = "hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l', 'ell'))
print('  world '.strip())

Hello
HELLO
  hello
 hello
heellello
world

In [6]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)